

*{
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
}

body {
    margin: 0;
    padding: 0;
    background-color: #333333;
    overflow: hidden;
}

.chat-box {
    top: 0;
    left: 0;
    width: 100%;
    height: 75vh;
    background-color: #333333;
    /* border: 1px solid #141414; */
    /* min-height: 100%; */
    min-height: 68%;
    border-radius: 15px;
    overflow-y: auto;
    scrollbar-width: none;  
}

.text-field {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15vh;
    overflow-y: auto;
    background-color: #202020;
    border: 1px solid #5A5A5A;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.received {
    width: auto;
    max-width: 70%;
    height: auto;
    padding: 2%;
    margin: 2%;
    background-color: #444444;    
    border-radius: 15px 15px 15px 0px;
    word-wrap: break-word;
    color: #eeeeee;
}

.pre-received {
    width: auto;
    max-width: 100px;
    height: 25px;
    padding: 2%;
    margin: 2%;
    background-color:  #444444;    
    border-radius: 15px 15px 15px 0px;
    word-wrap: break-word;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-end;

}

.pre-received > div {
    height: 1rem;
    width: 1rem;
    border-radius: 0.5rem;
    margin: 0.25rem;
    background-color: white;
    animation: updown 1s infinite;
    /* animation-direction: alternate; */
}

/* .pre-received > div:nth-child(1) {
    animation-delay: 0.2s;
} */

.pre-received > div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes updown {
    0% {
        transform: translateY(-0.5rem);
    }
    /* 50% {
        transform: translateY(0);
    } */
    50% {
        transform: translateY(0.5rem);
    }
    100% {
        transform: translateY(-0.5rem);
    }
}   

.sent-cover {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.sent {
    width: auto;
    max-width: 70%;
    height: auto;
    padding: 2%;
    margin: 2%;
    text-align: left;
    position: relative;
    align-self: flex-end;
    background-color: #191919;
    border-radius: 15px 15px 0px 15px;
    word-wrap: normal;
    color: #eeeeee;
}

.formc {
    min-width: 80%;
    background-color: #202020;
    margin: 0%;
    align-items: center;
    min-height: 40%;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-between; */
}

.form_ {
    min-width: 60%;
    align-items: center;
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-between; */
}

#query {
    max-height: 5vh;
    min-height: 3rem;
    min-width: 75vw;
    box-sizing: border-box;
    /* margin-right: 5rem; */
    resize: none;
    overflow: auto;
    background-color: #444444;
    color: #eeeeee;
    border-radius: 5px;
    padding: 4px;
}
#query:focus {
    outline: none;
    border-bottom: 2px solid #FFDAB9;
}

img {
    height: 5vh;
    width: 5vh;
}

button {
    background-color: #FFDAB9;
    border: none;
    border-radius: 10px;
    padding: 0rem;
    margin: 0rem 0rem 0rem 0.5rem;
    /* font-size: 2rem; */
    cursor: pointer;
    overflow: hidden;
    color: #141616;
    align-items: flex-end;

}

header{
    display: flex;
    justify-content: space-between;
    background-color: #FFDAB9;
    align-items: center;
}

.header{
    height: 6vh;
    text-align: left;
    font-size: 1.5rem;
    font-weight:bold;
    padding-left: 2%;
    padding-top: 1%;
    /* padding: 0.5rem; */
    border-radius: 15px 15px 0px 0px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
}

.curr-pdf{
    height: auto;
    margin-right: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4px;
    border-bottom: 2px solid #202020;
    border-radius: 5px;
}